<h1><%= @category.name %></h1><hr>

<ul>
	<% @posts.each do |post| %>
		<li>
			<div class="post_container">
				<div class="post_left">
					<div class="arrow_up"><%= link_to '<i class="icon-sort-up"></i>'.html_safe, upvote_post_path(post) %></div>
					<div class="votes"><%= post.rank %></div>
					<div class="arrow_down"><%= link_to '<i class="icon-sort-down"></i>'.html_safe, downvote_post_path(post) %></div>
				</div>
				<div class ="post_right">
					<div class="post_title"><%= link_to link_helper(post), post_path(post) %></div>
					<div class='post_comments'>
						<%= link_to "<i class='icon-comment'></i> #{post.comments.size} Comments".html_safe, post_path(post) %> | Posted by <%= link_to post.user.username, post.user %>
					</div>
				</div>
			</div>
		</li>
		<hr>
	<% end %>
</ul>


